@import "../variables";

.el_message {
  box-sizing: border-box;
  border: solid 1.5px $default-color;
  padding: 1rem;
  font-weight: bold;

  &__rounded {
    border-radius: 10px;
  }

  &__colorDefault {
    background-color: $default-color;
    border-color: $default-color;
    color: $base-color;
  }

  &__colorMain {
    background-color: $main-color;
    border-color: $main-color;
    color: $base-color;
  }

  &__colorDark {
    background-color: $main-color-dark;
    border-color: $main-color-dark;
    color: $base-color;
  }

  &__colorLight {
    background-color: $main-color-light;
    border-color: $main-color-light;
    color: $default-color;
  }

  &__colorAccent {
    background-color: $accent-color;
    border-color: $accent-color;
    color: $base-color;
  }

  &_closeBtn {
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    border-radius: 50%;
    cursor: pointer;
    float: right;
  }
}
