@import "../variables";

@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
}

.el_textInput {
  min-width: 200px;
  max-width: 100%;
  &_label {
    letter-spacing: 1px;
    display: inline-block;
    width: 100%;
    padding: 1rem 0.5rem 0;
    font-size: 1.25rem;
  }
  &_input {
    @include reset();
    display: inline-block;
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    border: solid 1.5px $default-color;
    letter-spacing: 1px;
    &:focus {
      border: solid 1.5px $main-color;
    }
    &:disabled {
      border-color: $default-color;
      background-color: $disabled-color;
      color: $default-color;
    }
  }

  &__disabled {
    & > .el_textInput_label {
      color: $default-color;
    }
    & > .el_textInput_input {
      border-color: $default-color;
      background-color: $disabled-color;
      color: $default-color;
    }
  }
}
